<div class="container">
  <div class="row">
    <h1>Employee CRUD</h1>
  </div>
  <div class="row">
    <div class="col-md-5">
      <form #empForm="ngForm" (ngSubmit)="add_update_Employee(empForm)" class="was-validated">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="hidden" name="empId" #empId="ngModel" [(ngModel)]="EmployeeModel.empId">
            <input type="text" class="form-control" placeholder="FirstName" name="empFname" #empFname="ngModel" [(ngModel)]="EmployeeModel.empFname"
              required>
            <p class="font-weight-bold text-danger text-center" *ngIf="empFname.invalid && empFname.touched">FirstName is Required!</p>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="LastName" name="empLname" #empLname="ngModel" [(ngModel)]="EmployeeModel.empLname"
              required>
            <p class="font-weight-bold text-danger text-center" *ngIf="empLname.invalid && empLname.touched">LastName is Required!</p>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Position" name="empPosition" #empPosition="ngModel" [(ngModel)]="EmployeeModel.empPosition">
          </div>
          <div class="form-group col-md-6">
            <input type="number" class="form-control" placeholder="Age" name="empAge" #empAge="ngModel" [(ngModel)]="EmployeeModel.empAge">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <select class="custom-select" name="empBloodType" #empBloodType="ngModel" [(ngModel)]="EmployeeModel.empBloodType">
              <option value="" selected>Blood type</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="AB">AB</option>
              <option value="O">O</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="empIsActive" id="empIsActive" #empIsActive="ngModel" [(ngModel)]="EmployeeModel.empIsActive">
              <label class="custom-control-label" for="empIsActive">Is Active</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block" [disabled]="!empForm.valid">Submit</button>
          </div>
          <div class="col-md-6">
            <button type="reset" class="btn btn-warning btn-block">Reset</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-7">
      <table class="table text-center">
        <thead>
          <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Position</th>
            <th>Age</th>
            <th>Is Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of EmployeeFromService.EmployeeList">
            <td>{{emp.empId}}</td>
            <td>{{emp.empFname}}</td>
            <td>{{emp.empLname}}</td>
            <td>{{emp.empPosition}}</td>
            <td>{{emp.empAge}}</td>
            <td><div *ngIf="emp.empIsActive"><i class="fa fa-check" aria-hidden="true"></i></div></td>
            <td>
              <a class="btn fa fa-pencil-square-o fa-lg" aria-hidden="true" (click)="edit_Employee(emp)"></a>
              <a class="btn fa fa-times text-danger fa-lg" aria-hidden="true" (click)="del_Employee(emp.empId)"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>